.card{
  width: 1400px;
  height:800px;
  background-color: aliceblue;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.nav-centre{
  display: flex;
  
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.links{
  display: flex;
}
li{
  list-style-type: none;
  padding: 1rem;
}
.photo{
  width: 200px;
  height: 100px
}
.heading{
  font-family:monospace;
}

