.card{
  width: 1050px;
  height:3050px;
  background-color: aliceblue;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.nav-centre{
  display: flex;
  
}
.heading{
  font-family:monospace;
}

