.body{
  background-color: lightblue;
}
.form-control>input{
background-color: aliceblue;
margin-top: 120px;
margin-left: 500px;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.nav-centre{
  display: flex;
  
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-family: sans-serif;
  height:80px;
  
}
/* .links{
  display: flex;
  background-color: black;
} */
li{
  list-style-type: none;
  padding: 1rem;
}
/* .photo{
  width: 150px;
  height: 80px
} */
.heading{
  font-family:monospace;
}

.footer{
  text-align: center;
  padding: 3px;
  color: black;
  display: block;
}

